# Source

https://www.kaggle.com/datasets/saurabhbagchi/dish-network-hackathon

Predict whether a client will default on the vehicle loan payment or not

A non-banking financial institution (NBFI) or non-bank financial company (NBFC) is a Financial Institution that does not have a full banking license or is not supervised by a national or international banking regulatory agency. NBFC facilitates bank-related financial services, such as investment, risk pooling, contractual savings, and market brokering.

An NBFI is struggling to mark profits due to an increase in defaults in the vehicle loan category. The company aims to determine the client’s loan repayment abilities and understand the relative importance of each parameter contributing to a borrower’s ability to repay the loan.

Goal:

The goal of the problem is to predict whether a client will default on the vehicle loan payment or not. For each ID in the Test_Dataset, you must predict the “Default” level.

Datasets

The problem contains two datasets, TrainDataset and TestDataset. Model building is to be done on TrainDataset and the Model testing is to be done on TestDataset. The output from the Test_Dataset is to be submitted to the Hackathon platform.

Metric to measure

The metric to measure is the F1Score. F1Score is the harmonic mean of Recall and Precision. In this Hackathon, you will get the F1Score of 1. Please visit the link for more details on F1Score- https://en.wikipedia.org/wiki/F-score

Submission File Format:

You should submit a CSV file with exactly 80900 entries plus a header row.

https://en.wikipedia.org/wiki/F-score (more information on F-score can be found in adjacent link)

The file should have exactly two columns

● ID (sorted in any order)
● Default (contains 0 & 1, 1 represents default)

# Init

In [2]:
import numpy as np
import pandas as pd

In [3]:
!pwd

/home/dmdp/workspace/datasets/car_loan_default

# Data

In [4]:
df_dict = pd.read_csv('v0/Data_Dictionary.csv')

In [5]:
df_dict

,Variable,Description
0,ID,Client Loan application ID
1,Client_Income,Client Income in $
2,Car_Owned,Any Car owned by client before applying for th...
3,Bike_Owned,Any bike owned by client (0 means No and 1 mea...
4,Active_Loan,Any other active loan at the time of aplicatio...
5,House_Own,Any house owned by client (0 means No and 1 me...
6,Child_Count,Number of children the client has
7,Credit_Amount,Credit amount of the loan in $
8,Loan_Annuity,Loan annuity in $
9,Accompany_Client,Who accompanied the client when client applied...
10,Client_Income_Type,Clients income type
11,Client_Education,Highest level of education ahieved by client
12,Client_Marital_Status,"Marital status of client (D- Divorced, S- Sing..."
13,Client_Gender,Gender of the Client
14,Loan_Contract_Type,"Loan Type (CL- Cash Loan, RL- Revolving Loan)"
15,Client_Housing_Type,Client Housing situation
16,Population_Region_Relative,Relative population of the region where the cl...
17,Age_Days,Age of the client at the time of application s...
18,Employed_Days,"Days before the application, the client starte..."
19,Registration_Days,"Days before the loan application, the client c..."
20,ID_Days,"Days before the loan application, the client c..."
21,Own_House_Age,Age of Client's house in years
22,Mobile_Tag,Mobile Number provided by Client (1 means Yes ...
23,Homephone_Tag,Homephone Number provided by Client (1 means Y...
24,Workphone_Working,Was workphone number reachable (1 means Yes an...
25,Client_Occupation,Client Occupation type
26,Client_Family_Members,Number of family members does client have
27,Cleint_City_Rating,Client city rating. 3 denotes best and 2 denot...
28,Application_Process_Day,Day of the week on which client applied for th...
29,Application_Process_Hour,hour of the day on which client applied for th...
30,Client_Permanent_Match_Tag,Indication if client contact address does not ...
31,Client_Contact_Work_Tag,Indication if client work address does not mat...
32,Type_Organization,Type of organization where client works
33,Score_Source_1,Score sourced from other source. This is a nor...
34,Score_Source_2,Score sourced from other source. This is a nor...
35,Score_Source_3,Score sourced from other source. This is a nor...
36,Social_Circle_Default,How many friends/family member of client defau...
37,Phone_Change,"How many days before the loan application, cli..."
38,Credit_Bureau,Total number of enquiries in last year
39,Default,1 means the client defaulted on loan payments ...

In [6]:
df = pd.read_csv('v0/Train_Dataset.csv', low_memory=False)

In [7]:
df

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655054,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631354537,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355638717,0.2021,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,29250,0.0,0.0,NaN,1.0,0.0,107820,3165.3,Relative,...,Yes,No,Business Entity Type 2,NaN,0.173527,0.184116156,0.0577,0.0,1.0,1
121852,12173765,15750,0.0,1.0,1.0,0.0,0.0,104256,3388.05,Alone,...,Yes,Yes,Self-employed,NaN,0.371559,0.406617437,0.0825,4.0,0.0,0
121853,12103937,8100,0.0,1.0,0.0,1.0,1.0,55107.9,2989.35,Alone,...,No,No,Trade: type 6,0.169049,0.048079,NaN,NaN,0.0,NaN,0
121854,12170623,38250,1.0,1.0,0.0,1.0,0.0,45000,2719.35,Alone,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.077498546,0.0979,0.0,2.0,0
121855,12105610,9000,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.556414,0.29859499,0.1031,805.0,0.0,0

In [8]:
df['Default'].mean()

0.0807920824579832

In [9]:
df.columns = [name.lower() for name in df.columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          121856 non-null  int64
 1   client_income               118249 non-null  object
 2   car_owned                   118275 non-null  float64
 3   bike_owned                  118232 non-null  float64
 4   active_loan                 118221 non-null  float64
 5   house_own                   118195 non-null  float64
 6   child_count                 118218 non-null  float64
 7   credit_amount               118224 non-null  object
 8   loan_annuity                117044 non-null  object
 9   accompany_client            120110 non-null  object
 10  client_income_type          118155 non-null  object
 11  client_education            118211 non-null  object
 12  client_marital_status       118383 non-null  object
 13  client_gender               119443 non-null  object
 14  loan_contract_type          118205 non-null  object
 15  client_housing_type         118169 non-null  object
 16  population_region_relative  116999 non-null  object
 17  age_days                    118256 non-null  object
 18  employed_days               118207 non-null  object
 19  registration_days           118242 non-null  object
 20  id_days                     115888 non-null  object
 21  own_house_age               41761 non-null   float64
 22  mobile_tag                  121856 non-null  int64
 23  homephone_tag               121856 non-null  int64
 24  workphone_working           121856 non-null  int64
 25  client_occupation           80421 non-null   object
 26  client_family_members       119446 non-null  float64
 27  cleint_city_rating          119447 non-null  float64
 28  application_process_day     119428 non-null  float64
 29  application_process_hour    118193 non-null  float64
 30  client_permanent_match_tag  121856 non-null  object
 31  client_contact_work_tag     121856 non-null  object
 32  type_organization           118247 non-null  object
 33  score_source_1              53021 non-null   float64
 34  score_source_2              116170 non-null  float64
 35  score_source_3              94935 non-null   object
 36  social_circle_default       59928 non-null   float64
 37  phone_change                118192 non-null  float64
 38  credit_bureau               103316 non-null  float64
 39  default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

# Preprocessing

Converting numerical fields into numbers

In [11]:
column_replacement_patterns = {
    'credit_amount': ['$'],
    'client_income': ['$'],
    'employed_days': ['x'],
    'loan_annuity': ['$', '#VALUE!'],
    'id_days': ['x'],
    'population_region_relative': ['@', '#'],
    'age_days': ['x'],
    'registration_days': ['x'],
    'score_source_3': ['&'],
}

In [12]:
for column in column_replacement_patterns.keys():
    if df[column].dtype != object:
        continue
    print(f'Converting {column}')
    for replacement_pattern in column_replacement_patterns[column]:
        df[column] = df[column].str.replace(replacement_pattern, '', regex=False)
    df[column] = df[column] \
        .str.strip() \
        .replace('', 'NaN') \
        .astype('float')

Converting credit_amount
Converting client_income
Converting employed_days
Converting loan_annuity
Converting id_days
Converting population_region_relative
Converting age_days
Converting registration_days
Converting score_source_3

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          121856 non-null  int64
 1   client_income               118234 non-null  float64
 2   car_owned                   118275 non-null  float64
 3   bike_owned                  118232 non-null  float64
 4   active_loan                 118221 non-null  float64
 5   house_own                   118195 non-null  float64
 6   child_count                 118218 non-null  float64
 7   credit_amount               118219 non-null  float64
 8   loan_annuity                117030 non-null  float64
 9   accompany_client            120110 non-null  object
 10  client_income_type          118155 non-null  object
 11  client_education            118211 non-null  object
 12  client_marital_status       118383 non-null  object
 13  client_gender               119443 non-null  object
 14  loan_contract_type          118205 non-null  object
 15  client_housing_type         118169 non-null  object
 16  population_region_relative  116988 non-null  float64
 17  age_days                    118239 non-null  float64
 18  employed_days               118190 non-null  float64
 19  registration_days           118225 non-null  float64
 20  id_days                     115871 non-null  float64
 21  own_house_age               41761 non-null   float64
 22  mobile_tag                  121856 non-null  int64
 23  homephone_tag               121856 non-null  int64
 24  workphone_working           121856 non-null  int64
 25  client_occupation           80421 non-null   object
 26  client_family_members       119446 non-null  float64
 27  cleint_city_rating          119447 non-null  float64
 28  application_process_day     119428 non-null  float64
 29  application_process_hour    118193 non-null  float64
 30  client_permanent_match_tag  121856 non-null  object
 31  client_contact_work_tag     121856 non-null  object
 32  type_organization           118247 non-null  object
 33  score_source_1              53021 non-null   float64
 34  score_source_2              116170 non-null  float64
 35  score_source_3              94934 non-null   float64
 36  social_circle_default       59928 non-null   float64
 37  phone_change                118192 non-null  float64
 38  credit_bureau               103316 non-null  float64
 39  default                     121856 non-null  int64
dtypes: float64(24), int64(5), object(11)
memory usage: 37.2+ MB

In [14]:
df.sample(5).T

,53710,21430,74398,25099,85937
id,12110299,12149915,12114647,12128128,12147418
client_income,7650.0,22500.0,NaN,9000.0,11250.0
car_owned,NaN,0.0,0.0,0.0,1.0
bike_owned,1.0,0.0,0.0,1.0,0.0
active_loan,1.0,0.0,0.0,0.0,0.0
house_own,1.0,0.0,1.0,1.0,0.0
child_count,1.0,0.0,2.0,0.0,0.0
credit_amount,15638.4,80865.0,36000.0,31276.8,50849.55
loan_annuity,1655.1,2377.35,1370.25,2433.15,2154.15
accompany_client,Partner,Alone,Relative,Relative,Alone
client_income_type,Service,Service,Service,Service,Service
client_education,Graduation,Graduation,Secondary,Graduation dropout,Secondary
client_marital_status,M,S,M,M,M
client_gender,Male,Male,Male,Male,Female
loan_contract_type,CL,CL,NaN,CL,CL
client_housing_type,Home,NaN,Home,Home,Home
population_region_relative,0.025164,0.011657,0.010276,0.006852,0.035792
age_days,15280.0,14352.0,14244.0,19948.0,14746.0
employed_days,4799.0,519.0,1605.0,NaN,1874.0
registration_days,165.0,7579.0,5723.0,4499.0,6080.0
id_days,799.0,4053.0,3123.0,866.0,4120.0
own_house_age,3.0,NaN,NaN,NaN,4.0
mobile_tag,1,1,1,1,1
homephone_tag,0,0,0,0,0
workphone_working,0,1,0,0,1
client_occupation,Sales,Managers,Secretaries,NaN,Drivers
client_family_members,3.0,1.0,4.0,2.0,2.0
cleint_city_rating,2.0,1.0,2.0,3.0,2.0
application_process_day,2.0,1.0,6.0,2.0,0.0
application_process_hour,15.0,9.0,NaN,12.0,12.0
client_permanent_match_tag,Yes,No,Yes,Yes,No
client_contact_work_tag,Yes,Yes,No,Yes,No
type_organization,Trade: type 7,Construction,Medicine,Industry: type 3,Business Entity Type 3
score_source_1,0.463892,NaN,NaN,0.689419,NaN
score_source_2,0.481816,0.772798,0.6183,0.640076,0.723462
score_source_3,0.542445,0.65126,0.58674,0.46866,0.617826
social_circle_default,NaN,NaN,NaN,0.0619,NaN
phone_change,1960.0,1650.0,635.0,0.0,1562.0
credit_bureau,1.0,3.0,5.0,0.0,3.0
default,0,0,0,0,0

# Save

In [15]:
df.to_csv('v1/train.zip')

df.shape

(121856, 40)

In [16]:
df_reduced_1 = df \
    .dropna(subset=['credit_amount', 'client_income'])

df_reduced_1.to_csv('v1/train_reduced_1.zip')

df_reduced_1.shape

(114708, 40)